* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 65,25%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    background-color: rgb(7, 1, 12);
    height: 100vh;
    width: 100%;
}
#menu-icon {
    display: none;
}
#conteudo-header {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 56%;
    height: 100vh;
    margin-left: 3%;
    position: relative;

}
#conteudo-header h2 {
    color: #fff;
    border-bottom: 1px solid #fff;
    width: 80%;
    transform: translateY(-380%);
    margin-left: 10%;
}

#icons-conteudo {
    color: #fff;
    background-color: #43cbf2;
    padding: .2rem;
    border-radius: 35%;
    position: relative;
    transform: translateY(18%);
    margin-right: 1rem;
}
#icons-conteudo::before {
    content: "";
    position: absolute;
    top: 30%;
    left: 90%; 
    transform: rotate(0deg);
    border-color: transparent transparent transparent #43cbf2;
    border-style: solid;
    border-width: .5rem;
}

.conteudo {
    width: 100vw;
}
.blog-listing {
    position: absolute;
    left: 14%;
    transform: translateY(20%);
    margin-top: 5rem;
    min-width: 81%;
    max-width: 100%;
    height: auto;
}

 .paging-listing {
    margin-bottom: 6rem;
    padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb;
    height: 372px;
} 
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    position: relative;
}
.col-6 {
    flex: 0 0 25%;
    position: relative;
}
.page-item {
    margin-bottom: 20px;
    position: relative;
    width: 130px;
}
.manga-item {
    box-shadow: 0px 0px 3px #ffffff;
    margin-bottom: 10px;
    float: left;
    overflow: hidden;
    width: 100%;
    margin-right: 20px;
    position: relative;
}
.item-thumb img {
    max-width: 100%;
    height: 176.8px;
    position: relative;
    left: 4%;
    transform: translateY(15%);
} 

.conteudo-nav-bar {
    min-width: 23%;
    min-height: 40rem;
    float: right;
    margin-top: 15%;
    margin-right: 15%;
    border: .15rem solid #c8b0b0ca;
    border-radius: 1rem;
}
.conteudo-segundo {    
    justify-content: end;
    color: #60646c;
    position: relative;
    width: 15rem;
}
.titulo-conteudo-segundo {
    background-image: linear-gradient(to right,#43cbf2 50%, #0b84c8) ;
    margin: 1rem 0 ;
    border-radius: .7rem;
    text-align: center;
    position: relative;
}
.titulo-conteudo-segundo h3 {
    color: #fff;
    font-weight: 600;
    padding: .20rem 0;
}
.titulo-conteudo-segundo::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 10%;
    transform: translateY(20%);
    transform: translateX(10%);
    transform: rotate(90deg);
    border-color: transparent transparent transparent #43cbf2;
    border-style: solid;
    border-width: .8rem;
    
}
.espaco-lateral {
    width: 300px;
    margin: 0 auto;
}
.container-espaco {
    padding-left: 15px;
    padding-right: 15px;
    height: 11rem;
    border-radius: 1rem;
    width: 17rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.63);
    box-shadow: 1px 0 0 transparent;
}
.container-img {
    display: flex;
    overflow: hidden;
    float: left;
    margin-top: 10px;
    border-radius: .5rem;
}
.container-img img {
    width: 200px;
    height: 5.8rem;
    max-width: 4rem;
}
.titulo-img {
    color: white;
    margin-top: .5rem;
}
.list-cap {
    margin-left: 5rem;
    margin-bottom: 10px;
}
.btn-link  {
    background-color: #0b84c8;
    border-radius: .5rem;
    padding: .1rem;
}
.titulo-img {
    margin-bottom: .5rem;
}
.chapter a {
    color: #fff;
    text-decoration: none;
    padding: .1rem .255rem;
}
.chapter a:hover {
    background-color: #43cbf2;
}
.post-on {
    margin-left: .5rem;
}
.chapter-item {
    margin-top: 1rem;
}